* {
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'Times New Roman', Times, serif;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    border: 1px solid red;
}

.nav-ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.nav-list {
    list-style: none;
}

.nav-item{
    padding: 0 30px;
    line-height: 50px;
    font-size: 20px;
}

h1,h2 {
    display: flex;
    justify-content: right;
    margin: 10px 30px;
}

main {
    border: 1px solid red;
}
footer {
    border: 1px solid red;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}